# See https://github.com/harendra-kumar/packcheck for all parameters and their
# explanation.
env:
  global:
  - PACKCHECK="./packcheck.sh"
  # The commit id of packcheck.sh to use from
  # https://github.com/harendra-kumar/packcheck.  Used only when the script
  # does not exist in the package repo at the path specified by "PACKCHECK"
  - PACKCHECK_COMMIT="c9d670c0e173080a6589c685e8c84e87435f688e"
  - GHC_OPTIONS="-Werror"
  - STACKVER=1.6.1
  - STACK_UPGRADE=y
  # ------------------------------------------------------------------------
  # Normally you would not need to customize these params
  # ------------------------------------------------------------------------
  - CABAL_REINIT_CONFIG=y
  - CABAL_CHECK_RELAX=y
  - CABAL_NO_SANDBOX=y
  - CABAL_HACKAGE_MIRROR=hackage.haskell.org:http://hackage.fpcomplete.com
  - TEST_INSTALL=y
  - PATH=/bin:/usr/bin
  - LC_ALL=C.UTF-8

matrix:
  fast_finish: true
  include:

  # FIXME: Removing because the build keeps timing out.
  - env: BUILD=cabal CABALVER=1.24 GHCVER=8.0.2 CABAL_USE_STACK_SDIST=y SDIST_OPTIONS="--pvp-bounds both"
    compiler: ": #GHC 8.0.2"
    addons: {apt: {packages: [cabal-install-1.24,ghc-8.0.2], sources: [hvr-ghc]}}

  - env: BUILD=stack GHCVER=8.0.2 CABALVER=1.24
    compiler: ": #stack 8.0.2"
    addons: {apt: {packages: [cabal-install-1.24,ghc-8.0.2], sources: [hvr-ghc]}}

  - env: BUILD=stack GHCVER=8.2.1 STACK_YAML=stack-nightly.yaml GHC_OPTIONS="-Werror -Wno-missing-home-modules"
    compiler: ": #stack 8.2.1"
    addons: {apt: {packages: [ghc-8.2.1], sources: [hvr-ghc]}}

  - env: BUILD=stack
    compiler: ": #stack 8.0.2 osx"
    os: osx

  - env: BUILD=stack GHCVER=8.0.2 CABALVER=1.24 HLINT_OPTIONS="hlint src/; hlint src/ --cpp-define=WINDOWS=1; hlint test/ --cpp-simple"
    addons: {apt: {packages: [cabal-install-1.24,ghc-8.0.2], sources: [hvr-ghc]}}

  - env: BUILD=stack GHCVER=8.2.1 CABALVER=1.24 STACK_BUILD_OPTIONS=--pedantic
    compiler: ": #stack 8.2.1"
    addons: {apt: {packages: [cabal-install-1.24,ghc-8.2.1], sources: [hvr-ghc]}}

  allow_failures:
  - env: BUILD=stack
    compiler: ": #stack 8.0.2 osx"
    os: osx

# ------------------------------------------------------------------------
#  Settings beyond this point are advanced and normally not tweaked
# ------------------------------------------------------------------------

language: generic
sudo: false
cache:
  directories:
  - $HOME/.cabal
  - $HOME/.ghc
  - $HOME/.local
  - $HOME/.stack
install: true

script:
  - |
    # When GHCVER or CABALVER env variables are specified, modify the path to
    # find the binaries installed from hvr-ghc repo
    add_path()  { eval "test -n \"\$$1\"" && eval "PATH=/opt/$2/\"\$$1\"/bin:$PATH"; true; }

    # Emit the value of the var specified as arg only when the build is cabal
    cabal_env() { test "$BUILD" = cabal && echo $1; }

    # If a custom stack-yaml is specified, replace the default with that
    if test -e "$STACK_YAML"; then rm -f stack.yaml && ln -sv $STACK_YAML stack.yaml; else true; fi

    # Get packcheck if needed
    CURL=$(which curl)
    PACKCHECK_URL=https://raw.githubusercontent.com/harendra-kumar/packcheck/${PACKCHECK_COMMIT}/packcheck.sh
    if test ! -e "$PACKCHECK"; then $CURL -sL -o "$PACKCHECK" $PACKCHECK_URL; fi;
    chmod +x $PACKCHECK

    add_path GHCVER   ghc
    add_path CABALVER cabal

    # In addition to PACKCHECK envvars hpc-coveralls needs TRAVIS,
    # TRAVIS_JOB_ID variables set by the travis CI environment.
  - bash -c "$PACKCHECK $BUILD"
